<div class="row container d-flex justify-content-center m-2">
    <div class="col-lg-10 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Accounts</h5>
          <div class="table-responsive">
            <table class="table" *ngIf="accounts">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Currency</th>
                  <th scope="col">type</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Owner</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of accounts">
                  <th scope="row">{{ c.accountId | slice:0:2}}</th>
                  <td>{{ c.balance }}</td>
                  <td>{{ c.currency }}</td>
                  <td>{{ c.type }}</td>
                  <td>{{ c.createdAt }}</td>
                  <td>{{ c.customer.firstName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  